:root{
    --main-color: #904590;
    --background-color: #80c0c0;
}

.icon{
    //position: absolute;
    justify-content: left;
    grid-area: icon;
}

html,body{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background-color);
}
.name{
    //position: absolute;
    justify-content: center;
    grid-area: name;
}
.h-name{
    font-size: 50px;
    background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3, #ff0000);
    background-size: 2000% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-shift 8s linear infinite;
}



@keyframes rainbow-shift {
    0%{
        background-position: 0%;
      //filter: hue-rotate(0deg);
  }
    100% {
        background-position: 105%;
      //filter: hue-rotate(360deg);
  }
}
.topnav{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "icon name blank";
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    padding: 0px;
    margin: 0px;
    
}
.home-body{
    font-size: 30px;
    padding-top: 100px;
    text-align: center;
}
.h-team{
    display: flex;
    justify-content: center;
}

.team{
    margin-top: 1px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto;
    column-gap: 40px;
    padding: 30px;
    grid-template-areas:
        "latest blank blank"
        "item1 item2 item3";
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.latest{
    grid-area: latest;
    margin-bottom: 20px;
    margin-top: 20px;
}
h {
    font-size: 30px;
    font-weight: bold;
}
.blank{
    display: flex;
    grid-area: blank;
}

.team-descriptions{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
}
.team-description-container{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
}


.nav-links{
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}


.link-content{
    padding: 10px;
}

.linksBox{
    display: grid;
    background-color: var(--main-color);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    color: var(--background-color);
    grid-template-areas:
        "h-our-links blank blank"
        "discord-links insta-links linktree-links";
}

.a-links{
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    //padding: 10px;
}

.discord-links {
    display: flex;
    flex-direction: column;
    align-content: center;
    background: #402040;
    grid-area: discord-links;
    padding: 10px;
}
.insta-links{
    display: flex;
    flex-direction: column;
    align-content: center;
    background: #402040;
    grid-area: insta-links;
    padding: 10px;
}
.linktree-links{
    display: flex;
    flex-direction: column;
    align-content: center;
    background: #402040;
    grid-area: linktree-links;
    padding: 10px;
}

.links{
    margin: 0px;
    padding: 0px;


}

.events-to-come{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;    
}

.events-table{
    background-color: var(--main-color);
}
